.first-headline {

    margin-top: 202px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__headline {

        z-index: 10;
        

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 200px;

        h1 {
            position: relative;
            text-transform: uppercase;
            font-family: 'Bebas Neue', cursive;
            font-size: 120px;
            font-weight: 700;
            line-height: 144px;
            color: white;
            width: 1025px;

            z-index: 10;

            span {
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke: 0.3px #FFFFFF;
                opacity: 0.6;
            }
        }

        .nplanet {

            width: 350px;
                height: 320px;
                border-radius: 50%;
    
                position: relative;
                z-index: 11;
                top: -288px;
                left: 662.47px;
    
                text-transform: uppercase;
                font-family: 'Bebas Neue', cursive;
                font-size: 120px;
                font-weight: 700;
                line-height: 144px;
                color: #E75626;

        }
        

        .verse {
            height: 320px;
            width: 320px;

            position: relative;
            z-index: 11;
            top: -288px;
            left: 629.47px;

            text-transform: uppercase;
            font-family: 'Bebas Neue', cursive;
            font-size: 120px;
            font-weight: 700;
            line-height: 144px;
            color: #E75626;

            border-radius: 50%;
        }
    }
}