.first-headline {
    

    margin-top: 142px;
    margin-left: 64px;

    // .overlay-text {
    //     position: absolute;
    //     top: 209px;
    //     left: 731px;
    //     width: 320px;
    //     height: 320px;
    //     background-color: #E75626;
    //     // mix-blend-mode: multiply;
    //     border-radius: 50%;
    //     z-index: 30;
    //     opacity: 1;
    //     z-index: 100;
    // }

    &__headline {

        position: relative;
        width: 1100px;
        

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 200px;

        h1 {
            position: relative;
            text-transform: uppercase;
            font-family: 'Bebas Neue', cursive;
            font-size: 120px;
            font-weight: 90;
            line-height: 144px;
            color: white;

            z-index: 24;

            &:first-of-type{
                max-width: 1300px;
            }
            

            .our-span {
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke: 0.3px #FFFFFF;
                opacity: 0.6;
            }
         }
    }
}

.overlay-text {
    position: absolute;
    top: 209px;
    left: 732px;
    
    width: 320px;
    height: 320px;
    background-color: #E75626;
    mix-blend-mode: multiply;
    opacity: 0.9;
    border-radius: 50%;
    z-index: 25;
}