.users-table {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 700px;
    

    h4 {
        font-family: 'Bebas Neue', cursive;
        font-size: 36px;
        font-weight: 700;
        line-height: 43px;
        color: white;
    }

    article {

        .table-head {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 83px;
            margin-top: 35px;

            h3 {
                font-family: 'Bebas Neue', cursive;
                font-size: 24px;
                font-weight: 700;
                line-height: 28.8px;
                color: white;
                text-align: left;
                width: 104px;
            }
        }

        .table-body-container {
            height: 616px;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                display: block;
                width: 6px;
                height: 6px;
            }
    
            &::-webkit-scrollbar-thumb {
                background-color: #E75626;
            }

            .table-body {
                display: flex;
                flex-direction: row;
                justify-content:first baseline;
                align-items: center;

                &:first-of-type {
                    div p {
                        color: #E75626;
                    }

                    .delete {
                        background-image: url(../../../../assets/delete.png);
                        width: 10px;
                        height: 10px;
                        cursor: pointer;
                    }
                }
    
                .name-column {
                    width: 188px;
    
                    padding: 16px 0 16px ;
                    font-family: sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 18px;
                    color: white;
                    border-bottom: 1px solid white;
    
                    overflow-x: auto;
                    text-overflow: ellipsis;
                    text-decoration: none;

                    p {
                        cursor: pointer;
                    }
                    
                }

                .custom-name-column {
                    pointer-events: none;
                }
    
                .email-column {
                    justify-content: baseline;
                    width: 185px;
                    text-align: left;
    
                    padding: 16px 0 16px 0;
                    font-family: sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 18px;
                    color: white;
                    border-bottom: 1px solid white;
    
                    justify-content: baseline;
                    text-align: left;
    
                    overflow-x: hidden;
                 
    
                    padding: 16px 0 16px 0 ;
                    font-family: sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 18px;
                    color: white;
                    border-bottom: 1px solid white;
                    text-decoration: none;

                    p {
                        overflow-x: hidden ;
                        text-overflow: ellipsis;
                        cursor: pointer;
                    }
                }

                .custom-email-column {
                    pointer-events: none;
                }
    
                .wallet-column {
                    display: flex;
                    justify-content: baseline;
                    width: 280px;
                    text-align: left;
    
                    padding: 16px 0 16px 0;
                    font-family: sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 18px;
                    color: white;
                    border-bottom: 1px solid white;
    
                    overflow-x: hidden;
                    text-decoration: none;

                    p {
                        text-overflow: ellipsis;
                        overflow-x: hidden;
                        cursor: pointer;
                    }
                   
                }

                .custom-wallet-column {
                    pointer-events: none;
                }
            }
        }
        
    }
}