.explore {
    width: 100%;
    height: auto;

    padding: 14px 64px 60px 64px;

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__logo {
            width: 199px;
            height: 44px;
            background-color: #5A5A5A;
            color: #C7C7C7;
            display: flex;
            justify-content: center;
            align-items: center;

            font-family: 'Bebas Neue', cursive;
            font-size: 18px;
            font-weight: 400;
            line-height: 21px;
        }

        &__adress {
            width: 161px;
            height: 39px;
            border: none;
            border-radius: 30px;
            background-color: #E75626;
            color: white;

            font-family: 'Bebas Neue', cursive;
            font-size: 18px;
            font-weight: 400;
            line-height: 21px;
        }
    }
}